<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon glyphicon-zoom-in"></span>
            Shrinking is fun!
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/urls">Home</a></li>
            <li><a href="/urls">URLs</a></li>
            <li><a href="/urls/new">New</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
    

</div>
</nav>


<% if (!user.id ) {%>
<h1> Please Log In or Register
<td> <button type="button" onclick="window.location.href='/login'" class="btn btn-primary btn-xs">Login</button></td>
<td> <button type="button" onclick="window.location.href='/register'" class="btn btn-primary btn-xs">Register</button></td>

</h1>

<% } else {%>
<h1> <%=user.email%> 
<td> <button type="button" onclick="window.location.href='/logout'" class="btn btn-primary btn-xs">Logout</button></td>
<%}%>
 