<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon glyphicon-zoom-in"></span>
            Shrinking is fun!
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/urls">Home</a></li>
            <li><a href="/urls">URLs</a></li>
            <li><a href="/urls/new">New</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
    

</div>
</nav>


<% if (!username ) {%>
<h1> Please Log In </h1>
<form action="/login" method="POST" style="margin:0px;">
    <label for="longURL">Enter your userid to login:</label>
    <input id="longURL" type="text" name="userID" placeholder='userid' style="width: 300px">
    <input type="submit" value="Submit">
</form>
<% } else {%>
<h1> <%=username%> </h1>
<button type="button" onclick="window.location.href='/logout'" class="btn btn-danger btn-xs">Logout</button></td>
<%}%>
 