<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>Welcome to our tinyApp project for Lighthouse.</h1>
            <p>Enjoy!</p>
        </div>
    </div>

    <div class="col-sm-4">        
        <div class="well">
            <img src="https://avatars2.githubusercontent.com/u/8441361?s=400&u=1a94699f3e65877073cf86b96d393345eefc2406&v=4"/>

        </div>
    </div>

</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>