<!-- views/pages/urs_index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
    <h2>Your Short URLs</h2>

  
  <ul>
      <% for (let item in urls ) { %>
          <li> <%=item%> : <%=urls[item]%> <button type="button">Edit</button><button type="button">Delete</button></li>
    <% };%>
  </ul>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>